body {
  background: url('/assets/images/yellowstone.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.container1 {
  position: relative; top: -10px;
}

/* Bottom right text */
#label1 {
  position: absolute;  top: 100px; left: 20px;
  background-color: #4aaaa5;
  color: white;
  width: 188px;
  height: 33px;
  font-size: 22px;
  text-align: center;
  font-family: 'Lora', serif;

}


.container2 {
    position: absolute; left:600px; top:  300px;
  }
  
  #label2 {
    position: absolute;  top: 100px; left: 20px;
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    height: 33px;
    font-size: 22px;
    text-align: center;
    float: right;
    font-family: 'Lora', serif;
  }
  .container3 {
    position: absolute; left: 900px; top: 290px;
  }
  
  #label3 {
    position: absolute;  top: 100px; left: 20px;
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    height: 33px;
    font-size: 22px;
    text-align: center;
    float: right;
    font-family: 'Lora', serif;
  }

  .container4 {
    position: absolute; left: 300px; top: 460px;
  }
  
  #label4 {
    position: absolute;  top: 120px; left: 20px;
    background-color: #4aaaa5;
    color: white;
    width: 267px;
    height: 33px;
    font-size: 22px;
    text-align: center;
    float: right;
    font-family: 'Lora', serif;
  }
  .container5 {
    position: absolute; left: 700px; top: 455px;
 
  }
  

  #label5 {
    position: absolute;  top: 140px; left: 20px;
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    height: 33px;
    font-size: 22px;
    text-align: center;
    float: right;
    font-family: 'Lora', serif;
  }