.btn-info {
  position: absolute;
}


#UserName{
  background-color:#4aaaa5;
color: white;
padding: 8.5px;
font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:20pt;
  /* width: 100%; */
  margin: 0 0 0 10%;
  text-align: center;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
 
}



.content {
	width: 960px;
	align-self: center;
}

.aboutme {
	color: #4aaaa5;
	font-size: 20pt;
	font-family: 'Georgia', Times, Times New Roman, serif;
    margin-top: 10px;
    padding-right: 10px;
	float: top;
}

h2 {
	float: left;
	color: #4aaaa5;
	font-size: 20pt;
	font-family: 'Georgia', Times, Times New Roman, serif;
    top: 0px;
    position: relative; top: 5px; left: 10px;
}

/*center bodies*/

.section1 {
    background-color: #ffffff;
    width: 960px;
    position: absolute;
    height: 500px;
    align-self: center;
    margin-left: 300px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    padding: 20px;
    }


/*Body for About Me*/


img {
    float: left;
    margin: 20px;
}
#box1 {
    display: block;
    margin: 2px 2px 2px 2px;
}
    


body {
<<<<<<< HEAD
  background: no-repeat center center fixed;
=======
  background: url('./assets/images/yellowstone.jpg') no-repeat center center fixed;
>>>>>>> 1ab8851b7cba3b1c8f572a50467e63db0e13161a
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}



footer {
position: fixed;
left: 0px;
bottom: 0px;
background-color: #666666;
width: 100%;
font-size: 12px;
text-align: center;
padding: 10px 0px;
color: #ffffff;
  border-top: 6px solid #4aaaa5;
}

h2 {
  float: left;
  color: #4aaaa5;
  font-size: 20pt;
  font-family: 'Georgia', Times, Times New Roman, serif;
    top: 0px;
    position: relative; top: 5px; left: 10px;
}


hr {
margin: 55px 0px 10px 0px;
}
#hs {
  margin: 0px, 0px, 50px, 0px;
  float: left;
  height: 300px;
  width: 300px;
}
  
  #UserName {
    font-size: 20pt;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    float: left;
    text-decoration: none;
    padding: 50px 20px 20px 20px;
    float: top;
  }
  
  #portfolio {
    float: right;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #777777;
    background-color: #ffffff;
    align-self: left;
    padding: 25px 30px 10px 30px;
  }
  
  #contact {
    float: right;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #777777;
    background-color: #ffffff;
    align-self: left;
    padding: 25px 30px 10px 30px;
  
  }
 #aboutme{
    float: right;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #777777;
    background-color: #ffffff;
    align-self: left;
    padding: 25px 30px 10px 30px;
  
  }
/*portfolio images*/
.photo {
  position: relative;
  width: 274px;
  overflow: auto;
  margin:15px;
  }
  
  .photo:nth-child(even) {
    margin-right: 40px;
  }
  
  .photo img {
    width: 100%;
    height: 75%;
    border: 0 none;
  
   
  }
  
  .photo h3 {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    margin-left: 0px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  


/* Bottom right text */

 

  #BUTT {
    background-color: #4aaaa5;
    border: none;
    padding: 12px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
    }
    
    .button{
      position: absolute;
      top: 550%;
      left:49.2%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      padding: 20;
      width: 341.1px;
      background-color:#4aaaa5;
      color: white;
      font-size: 24pt;
      cursor: pointer;
      text-align: center;
      }
